@model EnrollApp.Models.Offer

@{
    ViewData["Title"] = "DeleteOffer";
}

<h1>Удалить услугу @Model.Id ?</h1>

<form method="post">
    <div class="form-group col-sm-4">
        <h5 class="col-form-label">Название</h5>
        <input type="text" readonly class="form-control-plaintext" asp-for="Title"/>
    </div>
    <div class="form-group col-sm-4">
        <h5 class="col-form-label">Описание</h5>
        <textarea class="form-control-plaintext" readonly asp-for="Description"></textarea>
    </div>
    <div class="form-group col-sm-8">
        <h5 class="col-form-label">Цена</h5>
        <input type="text" readonly class="form-control-plaintext" asp-for="Price" />
    </div>
    <input type="submit" value="Удалить" class="btn btn-primary"/>
</form>

